// Abstracts
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;
@use "../base/typography";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: vars.$background-color;
  font-family: vars.$font-family-base;
  font-weight: vars.$font-weight-regular;
  line-height: 1.5;
  letter-spacing: vars.$letter-spacing-default;
}

main {
  flex: 1;
  background-color: lightgoldenrodyellow; //! TODO: remove
}

a {
  color: inherit;
  @include mixins.text-hover-color(
    vars.$link-color-primary,
    0.2s,
    vars.$transition-easing-custom
  );

  cursor: pointer;
}

/* Anything that has been anchored to should have extra scroll margin */
// https://piccalil.li/blog/a-more-modern-css-reset/
:target {
  scroll-margin-block: 5ex;
}
