// Abstracts
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e74c3c;
}

main {
  flex: 1;
  background-color: lightgoldenrodyellow;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
