// Abstracts
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;
@use "../base/typography";

body {
  @extend %typography-base;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: vars.$background-color;
}

main {
  flex: 1;
  background-color: lightgoldenrodyellow;
}
