@use "../abstracts/variables" as vars;

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: vars.$font-family-base;
  line-height: vars.$line-height-base;
  color: vars.$text-color-primary;
}

p {
  margin-bottom: 1em;
  max-width: 65ch;
}
