@use "../abstracts/variables" as vars;

html {
  //? TODO: Description look interesting, test it later
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Base Typography */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: vars.$font-family-base;
  line-height: vars.$line-height-base;
  color: vars.$text-color-primary;
  font-weight: vars.$font-weight-regular;
}

/* Text Elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
  text-wrap: pretty;
  margin: 0;
  max-width: 65ch;
}

@mixin f-14 (
  $color: vars.$text-color-primary,
  $line-height: 1.215,
  $font-weight: vars.$font-weight-regular
) {
  color: $color;
  font-family: vars.$font-family-base;
  font-size: 0.875rem;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin f-24 (
  $color: vars.$text-color-primary,
  $line-height: 1.21,
  $font-weight: vars.$font-weight-regular
) {
  color: $color;
  font-family: vars.$font-family-base;
  font-size: 1.5rem;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin f-12-14 (
  $color: vars.$text-color-primary,
  $line-height: vars.$clamp-15-17,
  $font-weight: vars.$font-weight-regular
) {
  color: $color;
  font-family: vars.$font-family-base;
  font-size: vars.$clamp-12-14;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin f-12-18 (
  $color: vars.$text-color-primary,
  $line-height: vars.$clamp-15-22,
  $font-weight: vars.$font-weight-regular
) {
  color: $color;
  font-family: vars.$font-family-base;
  font-size: vars.$clamp-12-18;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin f-14-18 (
  $color: vars.$text-color-primary,
  $line-height: vars.$clamp-17-22,
  $font-weight: vars.$font-weight-regular
) {
  color: $color;
  font-family: vars.$font-family-base;
  font-size: vars.$clamp-14-18;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin f-24-36 (
  $color: vars.$text-color-primary,
  $line-height: vars.$clamp-29-44,
  $font-weight: vars.$font-weight-regular
) {
  color: $color;
  font-family: vars.$font-family-base;
  font-size: vars.$clamp-24-36;
  line-height: $line-height;
  font-weight: $font-weight;
}
