@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;
@use "../base/typography" as typo;
@use "../abstracts/touch" as touch;

.card-vertical {
  position: relative;
  color: vars.$color-white;
  text-decoration: none;
  display: block;
  container-type: inline-size;
  container-name: card-image;
  width: 100%;

  & > a {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: vars.$primary-color;
      opacity: 0;
      pointer-events: none;
      z-index: 2;
      transition: opacity 0.3s ease-out;
    }
  }

  &__image {
    object-fit: cover;
    transition: opacity 0.3s ease-out;
  }

  &__content {
    position: absolute;
    bottom: 12%;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: vars.$clamp-8-16;
    @include typo.f-12-14($color: vars.$color-white);
    color: vars.$color-white;
    pointer-events: none;

    &:hover {
      color: vars.$color-white;
    }
  }

  &__pretitle {
    margin-bottom: vars.$clamp-5-10;
  }

  &__title-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    row-gap: vars.$clamp-5-10;
    height: 60px;
    position: relative;
  }

  &__title {
    @include typo.f-24-36($color: vars.$color-white);
  }

  .animated-arrow-right {
    position: relative;
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    z-index: 5;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      box-shadow:
        0 -0.5px 0 0 white,
        0 0.5px 0 0 white;
      width: 0;
      background-color: white;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(-1px);
      z-index: 1;
    }
  }

  &__arrow-icon {
    display: block;
    height: 14px;
    width: 10px;
    color: inherit;
    flex-shrink: 0;
    opacity: 0;
    transform: translateX(0);
    transition:
      opacity 0.4s ease-out,
      transform 0.4s ease-out;
  }

  &:hover {
    & > a::after {
      opacity: 0.7;
    }

    .card-vertical__arrow-icon {
      opacity: 1;
      transform: translateX(90px);
    }

    .animated-arrow-right::before {
      transition: width 0s ease-out 0.4s;
      width: 50%;
    }
  }
}

.card-vertical--blog {
  .card-vertical__content {
    inset: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5em;
    padding-bottom: 1.875em;

    //* scales on container .card-vertical from 332px to 480px
    padding-left: clamp(12px, calc(12px + 28 * (100cqi - 332px) / 148), 40px);
    pointer-events: auto;
  }

  .card-vertical__metadata {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: calc(100% - 100px);

    @include typo.f-12-14($color: vars.$color-white);
  }

  .card-vertical__author-link {
    display: flex;
    align-items: center;
    gap: 0.5em;

    .card-vertical__metadata-icon {
      color: inherit;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
    }
  }

  .card-vertical__author-link,
  .card-vertical__comments-link {
    @include touch.touch($offsets: 0 0 1em 0);
    position: relative;
  }
}
