@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;
@use "../abstracts/media-queries" as mq;
@use "../base/typography" as typo;

$container-width: 48px;
$container-height: 48px;
$bar-height: 2px;
$center-position: ($container-height - $bar-height) / 2;
$bar-spacing: 12px;
$bar-color: vars.$text-color-primary;
$bar-hover-color: vars.$link-color-primary;

.mobile-menu-toggle {
  display: block;
  position: relative;
  width: $container-width;
  height: $container-height;
  background: transparent;
  margin-left: clamp(1.5rem, 1vw + 1rem, 2.4285rem);
  z-index: 9999;
  cursor: pointer;

  @include mq.min768px {
    display: none;
  }

  &__bar {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: $bar-height;
    background-color: $bar-color;
    transition: all 0.3s ease;

    &:nth-child(1) {
      top: $center-position - $bar-spacing/2;
    }
    &:nth-child(2) {
      top: $center-position + $bar-spacing/2;
    }
  }

  &:hover {
    .mobile-menu-toggle__bar {
      background-color: $bar-hover-color;
    }
  }

  &.is-active {
    .mobile-menu-toggle__bar {
      top: $center-position;

      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
}
