@use "../abstracts/variables" as vars;
@use "../base/typography" as typo;
@use "../abstracts/media-queries" as mq;
@use "../abstracts/touch" as touch;

.product-card {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: vars.$clamp-5-10;
  border: 1px solid vars.$border-color;
  padding: vars.$clamp-6-13 vars.$clamp-6-13;
  background-color: vars.$background-color;
  transition:
    transform 0.3s ease 0.05s,
    box-shadow 0.4s ease 0.05s;

  &__labels {
    position: absolute;
    top: 2em;
    right: 0;
    display: grid;
    gap: 0.5rem;
  }

  &__label {
    @include typo.f-12-18();
    text-transform: capitalize;
    color: vars.$color-white;
    padding: 0.25rem vars.$clamp-8-16;

    &--new {
      background: vars.$highlight-color;
    }

    &--sale {
      background: vars.$accent-color;
    }

    &--recommended {
      background: skyblue;
    }
  }

  &__image {
    img {
      aspect-ratio: 1/1.2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto auto;
    will-change: transform;
  }

  &__title {
    grid-column: 1 / span 2;
    grid-row: 1;
    align-self: end;
    @include typo.f-12-18();
  }

  &__availability {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    @include typo.f-12-14($color: vars.$highlight-color);
    min-height: calc(2 * #{vars.$clamp-15-17}); //* line-height from f-12-14
    margin-top: 0.25em;
    margin-bottom: 0.25em + 0.0675em; //* to offset font "blank space"

    &[data-availability="Skladem"] {
      color: vars.$highlight-color;
    }

    &[data-availability="Momentálně nedostupné"] {
      color: vars.$accent-color;
    }

    &[data-availability="Na objednávku"] {
      color: vars.$text-color-secondary;
    }
  }

  &__price {
    grid-column: 1;
    grid-row: 3;
    align-self: end;
    @include typo.f-12-18();
  }

  &__cart-button {
    @include touch.touch($offsets: 1.4em 0.75em 0.75em 1.4em);
    position: relative;
    z-index: 1;
    grid-column: 2;
    grid-row: 2 / span 2;
    align-self: end;
    display: flex;
    justify-content: center;

    min-width: 34px;
    aspect-ratio: 1 / 1;
    width: vars.$clamp-30-60;
    background-color: vars.$secondary-color;
    transition:
      opacity 0.25s ease-out 0.05s,
      background-color 0.2s ease 0.05s;

    @include mq.min768px {
      @include mq.canHover {
        opacity: 0;
      }
    }

    svg {
      place-self: center;
      color: vars.$color-white;
    }
  }

  @include mq.canHover {
    &:hover {
      color: inherit;
      transform: translateY(-2.5%) scale(1.075);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

      .product-card__cart-button {
        opacity: 1;

        &:hover {
          background-color: vars.$highlight-color;
        }
      }
    }
  }
}
