// assets/scss/layout/_container.scss
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.container {
  width: 100%;
  max-width: var(--container-max-width, 1200px);
  margin-inline: auto;
  padding-inline: var(--space-m);
}
