@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.header {
  //* for later
}

.header-content {
  display: flex;
  align-items: center;
  height: clamp(4.5rem, 3.3996rem + 4.6948vw, 7.625rem); //375:72 = 1440:122
  padding-top: clamp(1rem, 0.6919rem + 1.3146vw, 1.875rem); //16 = 20
  padding-bottom: clamp(1.0625rem, 0.8644rem + 0.8451vw, 1.625rem); //17 = 26*/

  @media (max-width: 767px) {
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(6.5rem, 3.8812rem + 11.1737vw, 13.9375rem); //104 = 223
  height: clamp(2.4375rem, 1.8433rem + 2.5352vw, 4.125rem); //39 = 66
  margin-right: 0.75em;
  background-color: vars.$logo-color;

  @media (max-width: 767px) {
    transition:
      opacity 0.3s ease,
      transform 0.5s ease-out;
  }
}

// --- Main Navigation  ---
.main-navigation {
  flex-grow: 1;

  //* Opened mobile menu
  @media (max-width: 767px) {
    display: flex;
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    min-width: 100vw;
    min-height: 100vh;
    background-color: vars.$background-color;
    padding-top: clamp(4.5rem, 3.3996rem + 4.6948vw, 7.625rem); //header heigth
    transform: translateY(-110%);
    z-index: 999;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: clamp(1em, 4vw, 50px);
    font-size: 2em;

    @media (min-width: 768px) {
      justify-content: center;
      flex-direction: row;
      font-size: 1em;
    }

    &__item {
      text-wrap: nowrap;

      a {
        padding: 0.25em 0;
      }
    }
  }
}

// --- Header Actions ---
.header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

//! TODO: Needs tweaks
.search,
.currency-selector,
.header-cart,
.header-profile {
  margin-left: clamp(1.4375rem, 1.1954rem + 1.0329vw, 2.125rem); //23 = 34
}

//* hide elements on mobile + prepare their position for for transitions
.currency-selector,
.header-profile {
  @media (max-width: 767px) {
    width: 0;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(75px) translateY(-150px);
  }
}

.search {
  display: flex;
  flex-grow: 1;
  max-width: 298px;

  &__drawer {
    width: 100%;

    /*&::after {
      content: "";
      position: relative;
      display: block;
      height: 2px;
      left: -8px;
      width: calc(100% + 8px + 13px);
      max-width: 298px;
      background: #c9c9c9;
      pointer-events: none;
    }*/

    @media (max-width: 1023px) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      padding-left: vars.$spacing-unit;
      padding-right: vars.$spacing-unit;
      transform: translateY(500px);

      /*&::after {
        left: 2px;
        width: 100%;
        max-width: calc(500px + 24px + 8px + 13px - (2 * 0.5em));
        margin: 0 auto;
      }*/

      //! to be more specific than same selector bellow
      input.search-input {
        max-width: 500px;
      }
    }

    &__form {
      display: flex;
      /*justify-content: center;*/

      &:hover {
        .search-input::placeholder {
          color: vars.$link-color-primary;
        }
        .search__drawer__form__submit {
          color: vars.$link-color-primary;
          transform: rotate(20deg) translateY(-0.25em) scale(1.15);
        }
      }

      .search-input {
        min-width: 135px;
        width: 100%;
        padding: 0.5em;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: vars.$search-gray;
          transition: color 0.2s ease-in-out;
        }
      }

      &__submit {
        transition:
          transform 0.2s ease-in-out,
          color 0.2s ease-in-out;
      }
    }
  }

  &__toggle {
    @media (min-width: 1024px) {
      display: none;
    }
  }

  //! Achtung: styles two elements (toggle, submit) in search!
  .search-icon {
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
  }
}

.currency-selector {
  position: relative;
  transition: color 0.2s cubic-bezier(0.77, 0, 0.175, 1);

  &:hover {
    color: vars.$link-color-primary;
  }

  &__list {
    padding: 0.5em 1.5em 0.5em 0.5em;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
    width: 1em;
    height: 1em;
    pointer-events: none;
    padding: 2.75px 2px;
  }
}

.header-cart {
  &__link {
    display: flex;
    align-items: center;
    gap: clamp(6px, 0.75vw, 10px);

    &:hover {
      outline: none;

      .header-cart__link__count {
        color: vars.$link-color-primary;
        border-color: vars.$link-color-primary;
      }
    }

    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 21px;
      height: 21px;
      border: 1px solid black;
      border-radius: 50%;
      font-size: 0.7145em;
      transition:
        color 0.2s cubic-bezier(0.77, 0, 0.175, 1),
        border-color 0.2s cubic-bezier(0.77, 0, 0.175, 1);

      @media (min-width: 768px) {
        color: vars.$search-gray;
        border-color: vars.$search-gray;
      }
    }
  }
}

// Header Profile
.header-profile {
  @media (min-width: 768px) {
    display: block;
    width: max-content;

    &__link {
      &__icon {
        max-width: unset; //! needed to disable shrinking
        width: 24px;
        height: 24px;
      }
    }
  }
}

// Mobile Menu Toggle
.mobile-menu-toggle {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    background: transparent;
    aspect-ratio: 1 / 1;
    margin-left: 33px;
    z-index: 9999;

    span {
      width: 49px;
      height: 2px;
      background-color: vars.$text-color-primary;
    }
  }
}

.header-profile,
.currency-selector {
  //? Width animates when menu close - Search Toggle and Cart slide because width reducing
  //* transform not here; prefer it to disable floating on resize and when menu closing
  //* Opacity reducing on menu close (without transform instant) + when resize to desktop
  //* margin ONLY for resizing effect to desktop, can be removed, but its noice with opacity
  transition:
    opacity 0.75s ease,
    width 0.5s ease,
    margin 0.3s ease;
}

// --- Mobile Menu Active State ---
// Styles applied when body has the .mobile-menu-active class
.mobile-menu-active {
  .header-profile,
  .currency-selector {
    //* For on menu open
    //* margin only for growing/sliding Logo when menu closed
    //* opacity for loading element on menu open
    transition:
      opacity 0.9s ease,
      transform 0.45s ease-in,
      margin 0.5s ease;
  }

  @media (max-width: 767px) {
    .logo {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-75px);
    }

    //** Mobile Menu transitions **
    //! Only opening animation; closing is instant so i dont need to use JS
    .main-navigation {
      visibility: visible;
      transform: translateY(0);
      transition: transform 0.3s ease;
    }

    .header-actions {
      gap: 0.75em;
    }

    .currency-selector {
      order: -2;
      display: flex;
      opacity: 1;
      visibility: visible;
      font-size: 24px;
      width: auto;
      transform: translateY(0px);
      transition-delay: 0.2s;
      z-index: 1999;
    }

    .header-profile {
      order: -1;
      width: 49px;
      aspect-ratio: 1/1;
      z-index: 1999;
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }

    .header-cart,
    .search {
      display: none;
    }
  }
}
