@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.header {
  height: clamp(4.5rem, 3.3996rem + 4.6948vw, 7.625rem); //375:72 = 1440:122
  padding-top: clamp(1rem, 0.6919rem + 1.3146vw, 1.875rem); //16 = 20
  padding-bottom: clamp(1.0625rem, 0.8644rem + 0.8451vw, 1.625rem); //17 = 26
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(6.5rem, 3.8812rem + 11.1737vw, 13.9375rem); //104 = 223
  height: clamp(2.4375rem, 1.8433rem + 2.5352vw, 4.125rem); //39 = 66
  margin-right: 0.75em;
  background-color: vars.$logo-color;

  transition:
    opacity 0.3s ease,
    transform 0.5s ease-out;
}

// --- Main Navigation  ---
.main-navigation {
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: deeppink;
    z-index: 1000;
    transform: translateY(50px);
    transition: transform 0.3s ease-in-out;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1em, 4vw, 50px);

    @media (min-width: 768px) {
      flex-direction: row;
    }

    &__item {
      text-wrap: nowrap;
    }
  }
}

// --- Header Actions ---
.header-actions {
  display: flex;
  align-items: center;
}

.search {
  display: flex;

  &__drawer {
    @media (max-width: 767px) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      padding-left: vars.$spacing-unit;
      padding-right: vars.$spacing-unit;
      transform: translateY(500px);

      //! to be more specific than same selector bellow
      input.search-input {
        max-width: 500px;
      }
    }

    &__form {
      display: flex;
      justify-content: center;

      .search-input {
        border-bottom: 2px solid #c9c9c9;
        padding-bottom: 1px;
        min-width: 135px;
        max-width: 298px;
        width: 100%;

        &:focus {
          outline: none; //note: add custom?
        }

        &::placeholder {
          color: vars.$search-gray;
        }
      }

      &__submit {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__toggle {
    width: 24px;
    height: 24px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  //! Achtung: styles two elements (toggle, submit) in search!
  .search-icon {
    width: 24px;
    height: 24px;
  }
}

.currency-selector {
  position: relative;

  @media (max-width: 767px) {
    position: fixed;
    top: 16px;
    left: calc(49px + 1em);
    display: flex;
    height: 49px;
    font-size: 20px;
    /*z-index: 1010;*/
  }

  &__list {
    padding-right: calc(1em + 8px);
    cursor: pointer;

    &:focus {
      outline: 1px solid vars.$neutral-dark;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
    width: 1em;
    height: 1em;
    pointer-events: none;
    padding: 2.75px 2px;
  }
}

.header-cart {
  &__link {
    display: flex;
    align-items: center;
    gap: clamp(6px, 0.75vw, 10px);

    &:hover {
      outline: none;
    }

    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 21px;
      height: 21px;
      border: 1px solid black;
      border-radius: 50%;
      font-size: 0.7145em;

      @media (min-width: 768px) {
        color: vars.$search-gray;
        border-color: vars.$search-gray;
      }
    }
  }
}

// Header Profile
.header-profile {
  @media (min-width: 768px) {
    display: block;
    width: max-content;

    &__link {
      &__icon {
        max-width: unset; //! needed to disable shrinking
        width: 24px;
        height: 24px;
      }
    }
  }
}

// Mobile Menu Toggle
.mobile-menu-toggle {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    background: transparent;
    aspect-ratio: 1 / 1;
    margin-left: 33px;

    span {
      width: 49px;
      height: 2px;
      background-color: vars.$text-color-primary;
    }
  }
}
