@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

$Spacing: vars.$spacing-unit;

.header__container,
.section__container,
.footer__container {
  width: 100%;
  max-width: vars.$site-max-width;
  margin: 0 auto;
  padding-left: clamp($Spacing, 5vw, $Spacing * 2);
  padding-right: clamp($Spacing, 5vw, $Spacing * 2);
}
