@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

$Spacing: vars.$spacing-unit;

.layout-padding {
  width: 100%;
  height: 100%;
  padding-left: clamp($Spacing, 5vw, $Spacing * 2);
  padding-right: clamp($Spacing, 5vw, $Spacing * 2);
}

.content-container {
  width: 100%;
  max-width: vars.$site-max-width;
  margin-left: auto;
  margin-right: auto;
}
