@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;
@use "../abstracts/media-queries" as mq;
@use "../base/typography" as typo;

.hero {
  background-image: url("/assets/img/Hero.png");
  width: 100%;
  height: 100svh;
  background-size: cover;
  background-position: center center;
  color: vars.$background-color;
  position: relative; //
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  .hero__content__scroll-text {
    display: none;
  }
}

.hero__content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;

  .hero__subtitle {
    @include typo.f-14($color: vars.$color-white);
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }

  .hero__title {
    @include typo.f-24-36(
      $color: vars.$color-white,
      $font-weight: vars.$font-weight-bold
    );
    margin-top: 1rem;
    margin-bottom: clamp(4.25rem, 6.6691rem + -3.1214vw, 5.9375rem);
  }
}

.teasers {
  padding: vars.$clamp-25-48 0 vars.$clamp-35-53;
  background-color: vars.$background-color;
  text-align: center;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    justify-content: space-between;
    gap: vars.$spacing-unit * 0.5;
  }

  &__item {
    position: relative;
    height: clamp(12.1875rem, 6.2236rem + 25.446vw, 29.125rem);

    &:nth-child(3) {
      @include mq.max1023px {
        grid-column: 1 / -1;
      }
    }

    .teasers__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .teasers__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      z-index: 1;
    }
  }

  &__title {
    @include typo.f-24-36(
      $color: vars.$color-white,
      $font-weight: vars.$font-weight-bold
    );
    max-width: 90%;
    margin-bottom: clamp(
      1.5rem,
      0.1576rem + 5.7277vw,
      5.3125rem + 0.5rem
    ); // 24 -> 85px+0,5rem
  }

  &__link {
    margin-bottom: vars.$clamp-35-53;
  }
}

.bestsellers {
  background-color: vars.$background-color;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90px;
    background-color: vars.$secondary-color;
    z-index: -1;
  }

  &__container {
    display: grid;
  }

  &__title {
    @include typo.f-24-36($color: vars.$color-white);
    padding-top: vars.$clamp-36-75;
    padding-bottom: vars.$clamp-30-60;
    text-align: center;
  }

  &__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);

    > .card-vertical:nth-child(n + 3) {
      display: none;
    }

    @include mq.min768px {
      grid-template-columns: repeat(4, 1fr);

      > .card-vertical:nth-child(n + 3) {
        display: block;
      }
    }
  }

  &__cta {
    justify-self: end;
    margin-top: calc(#{vars.$clamp-14-60} * -1);
    position: relative;
    z-index: 99;
  }
}

.products {
  padding: vars.$clamp-35-53 0;
  background-color: vars.$background-color;

  &__filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: vars.$clamp-30-60;

    > * {
      margin: 0 1.5rem;
    }

    .btn--filter {
      display: none;
      font-size: 1rem;
      color: vars.$text-color-secondary;
      min-width: 80px;
      width: max-content;
      padding: 0.5rem 1rem;
      transform: scale(1);
      transition: transform 0.125s ease-in;

      &:hover {
        color: vars.$primary-color;
      }

      @include mq.min768px {
        display: inline-block;
      }

      &.is-active {
        display: inline-block;
        color: vars.$text-color-primary;
        transform: scale(1.5);
        z-index: 1;

        &:hover {
          color: vars.$primary-color;
        }
      }
    }
  }

  &__grid {
    display: grid;
    gap: vars.$clamp-16-24;
    margin-bottom: vars.$clamp-30-60;

    //! mq simple but works well with transition, grid columns needs "nice enough" values
    //! clamps in calc needs round()
    grid-template-columns: 1fr 1fr;

    @include mq.min768px {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq.min1024px {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__actions {
    text-align: center;

    .btn {
      margin-top: vars.$clamp-19-30;
    }
  }
}

.blog {
  background-color: vars.$secondary-color;
  color: vars.$color-white;
  padding-bottom: vars.$clamp-53-75;

  &__container {
    display: grid;
  }

  &__title {
    @include typo.f-24-36($color: vars.$color-white);
    text-align: center;
    padding-top: vars.$clamp-36-75;
    padding-bottom: vars.$clamp-30-60;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(332px, 40vw, 430px), 1fr)
    );
    justify-items: center;

    .card-vertical--blog {
      display: none;

      &:nth-child(-n + 3) {
        display: grid;
      }

      &:nth-child(2) {
        grid-area: 2 / 1;
      }

      &:nth-child(odd):last-child {
        grid-column: span 2;
      }

      @include mq.min1024px {
        display: grid;
      }
    }
  }

  &__cta {
    justify-self: end;
    margin-top: calc(#{vars.$clamp-14-60} * -1);
    position: relative;
    z-index: 99;
  }
}

.benefits {
  background-color: vars.$background-color;

  .benefits__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(0.375rem, -8.5481rem + 13.9423vw, 4rem); // 6-64 1024-1440
    row-gap: 0.5rem;
    padding: vars.$clamp-45-148 0;

    @include mq.min1024px {
      grid-template-columns: repeat(4, auto);
    }

    .benefits__item {
      display: grid;
      grid-template-columns: vars.$clamp-35-53 1fr;
      align-items: center;
      gap: vars.$clamp-12-24;

      @include mq.min1024px {
        &:not(:first-child) {
          height: 7.4375rem;
          border-left: 1px solid vars.$border-color;
          padding-left: clamp(
            0.375rem,
            -8.5481rem + 13.9423vw,
            4rem
          ); //* same as gap in grid
        }
      }

      .benefits__item__icon {
        aspect-ratio: 1 / 1;
      }
      .benefits__item__text {
        @include typo.f-12-18();
        text-wrap: balance;
      }
    }
  }
}

.newsletter {
  background-color: vars.$primary-color;
  color: vars.$color-white;
  padding: vars.$clamp-53-75 0;
  overflow: hidden;

  &__container {
    position: relative;
    z-index: 1;
    display: grid;
    justify-items: center;
  }

  &__background-icon {
    $icon-size: clamp(27.5rem, 25.2553rem + 9.5775vw, 33.875rem); // 440-542
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
    width: $icon-size;
    max-width: unset;
    height: $icon-size;
    opacity: 1;
    z-index: 0;

    @include mq.min1024px {
      transform: translate(-91%, -56%);
    }
  }

  &__content {
    width: 100%;
    z-index: 10;
  }

  &__title {
    @include typo.f-24-36($color: vars.$color-white);
    text-align: center;
    margin-bottom: vars.$clamp-30-60;
  }

  &__form-group {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: clamp(0rem, -0.5942rem + 2.5352vw, 1.6875rem); // 0-27
  }

  &__input {
    flex: 1;
    max-width: 31.25rem;
    background: vars.$color-white;
    padding: 1em;
    @include typo.f-12-18();

    &::placeholder {
      color: vars.$text-color-secondary;
    }
  }

  &__submit {
    width: auto;
    background-color: vars.$secondary-color;
    color: vars.$color-white;
    transform-origin: left center;
    box-shadow: none;

    @include mq.canHover {
      &:hover {
        box-shadow: none;
      }
    }

    @include mq.min768px {
      width: 100%;
      max-width: 243px;
    }
  }
}
